# Python cache / compiled files
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
cpp/build/

# Local compiled executables
cpp/lqr_controller
cpp/pid_cross_validation
